In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("Concrete_Data.csv")

In [3]:
dataset

,cement,slag,flyash,water,superplasticizer,coarseaggregate,fineaggregate,age,csMPa
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40

In [4]:
dataset.shape

(1030, 9)

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cement            1030 non-null   float64
 1   slag              1030 non-null   float64
 2   flyash            1030 non-null   float64
 3   water             1030 non-null   float64
 4   superplasticizer  1030 non-null   float64
 5   coarseaggregate   1030 non-null   float64
 6   fineaggregate     1030 non-null   float64
 7   age               1030 non-null   int64
 8   csMPa             1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.6 KB

In [6]:
dataset.isna().sum()

cement              0
slag                0
flyash              0
water               0
superplasticizer    0
coarseaggregate     0
fineaggregate       0
age                 0
csMPa               0
dtype: int64

In [ ]:
dataset.columns

In [ ]:
#X= dataset.drop('csMPa', axis=1)
#Y= dataset['csMPa']

In [7]:
def XY(dataset):
    X_col = []
    Y_col = []

    target = "csMPa"

    for col in dataset.columns:
        if col == target:
            Y_col.append(col)
        else:
            X_col.append(col)
    return X_col,Y_col

In [8]:
XY(dataset)

(['cement',
  'slag',
  'flyash',
  'water',
  'superplasticizer',
  'coarseaggregate',
  'fineaggregate',
  'age'],
 ['csMPa'])

In [9]:
Xcol,Ycol=XY(dataset)

In [10]:
Xcol

['cement',
 'slag',
 'flyash',
 'water',
 'superplasticizer',
 'coarseaggregate',
 'fineaggregate',
 'age']

In [11]:
Ycol

['csMPa']

In [12]:
dataset.describe()

,cement,slag,flyash,water,superplasticizer,coarseaggregate,fineaggregate,age,csMPa
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [13]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25","Q2:50","Q3:75","99%","Q4:100","IQR","1.5rule","Lesser","Greater","Min","Max"],
                         columns=Xcol)
for col in Xcol:
    col_desc = dataset[col].describe()
    mode_val = dataset[col].mode()
    descriptive.loc["Mean",col]=dataset[col].mean()
    descriptive.loc["Median",col]=dataset[col].median()
    descriptive.loc["Mode",col]=dataset[col].mode()[0] if not mode_val.empty else np.nan
    descriptive.loc["Q1:25",col]=dataset.describe()[col]["25%"]
    descriptive.loc["Q2:50",col]=dataset.describe()[col]["50%"]
    descriptive.loc["Q3:75",col]=dataset.describe()[col]["75%"]
    descriptive.loc["99%",col]=np.percentile(dataset[col],99)
    descriptive.loc["Q4:100",col]=dataset.describe()[col]["max"]
    descriptive.loc["IQR",col]=descriptive.loc["Q3:75",col]-descriptive.loc["Q1:25",col]
    descriptive.loc["1.5rule",col]=1.5*descriptive.loc["IQR",col]
    descriptive.loc["Lesser",col]=descriptive.loc["Q1:25",col]-descriptive.loc["1.5rule",col]
    descriptive.loc["Greater",col]=descriptive.loc["Q3:75",col]+descriptive.loc["1.5rule",col]
    descriptive.loc["Min",col]=dataset[col].min()
    descriptive.loc["Max",col]=dataset[col].max()

In [14]:
descriptive

,cement,slag,flyash,water,superplasticizer,coarseaggregate,fineaggregate,age
Mean,281.167864,73.895825,54.18835,181.567282,6.20466,972.918932,773.580485,45.662136
Median,272.9,22.0,0.0,185.0,6.4,968.0,779.5,28.0
Mode,362.6,0.0,0.0,192.0,0.0,932.0,594.0,28
Q1:25,192.375,0.0,0.0,164.9,0.0,932.0,730.95,7.0
Q2:50,272.9,22.0,0.0,185.0,6.4,968.0,779.5,28.0
Q3:75,350.0,142.95,118.3,192.0,10.2,1029.4,824.0,56.0
99%,531.3,290.2,185.213,228.0,23.4,1125.0,943.1,365.0
Q4:100,540.0,359.4,200.1,247.0,32.2,1145.0,992.6,365.0
IQR,157.625,142.95,118.3,27.1,10.2,97.4,93.05,49.0
1.5rule,236.4375,214.425,177.45,40.65,15.3,146.1,139.575,73.5
Lesser,-44.0625,-214.425,-177.45,124.25,-15.3,785.9,591.375,-66.5
Greater,586.4375,357.375,295.75,232.65,25.5,1175.5,963.575,129.5
Min,102.0,0.0,0.0,121.8,0.0,801.0,594.0,1
Max,540.0,359.4,200.1,247.0,32.2,1145.0,992.6,365

# Finding outliers

In [15]:
Lesser=[]
Greater=[]
for col in Xcol:
    if(descriptive[col]["Min"]<descriptive[col]["Lesser"]):
        Lesser.append(col)
    if(descriptive[col]["Max"]>descriptive[col]["Greater"]):
        Greater.append(col)

In [16]:
def Foutlier(Lesser,Greater):
    Lesser=[]
    Greater=[]
    for col in Xcol :
        if(descriptive[col]["Min"]<descriptive[col]["Lesser"]):
            Lesser.append(col)
        if(descriptive[col]["Max"]>descriptive[col]["Greater"]):
            Greater.append(col)
    return Lesser,Greater

In [17]:
Foutlier(Lesser,Greater)

(['water'], ['slag', 'water', 'superplasticizer', 'fineaggregate', 'age'])

In [18]:
for col in Lesser:
    dataset.loc[dataset[col] < descriptive.loc["Lesser", col], col] = descriptive.loc["Lesser", col]
for col in Greater:
    dataset.loc[dataset[col] > descriptive.loc["Greater", col], col] = descriptive.loc["Greater", col]

C:\Users\Bagirathan\AppData\Local\Temp\ipykernel_5380\4214239565.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '129.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dataset.loc[dataset[col] > descriptive.loc["Greater", col], col] = descriptive.loc["Greater", col]

In [19]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25","Q2:50","Q3:75","99%","Q4:100","IQR","1.5rule","Lesser","Greater","Min","Max"],
                         columns=Xcol)
for col in Xcol:
    col_desc = dataset[col].describe()
    mode_val = dataset[col].mode()
    descriptive.loc["Mean",col]=dataset[col].mean()
    descriptive.loc["Median",col]=dataset[col].median()
    descriptive.loc["Mode",col]=dataset[col].mode()[0] if not mode_val.empty else np.nan
    descriptive.loc["Q1:25",col]=dataset.describe()[col]["25%"]
    descriptive.loc["Q2:50",col]=dataset.describe()[col]["50%"]
    descriptive.loc["Q3:75",col]=dataset.describe()[col]["75%"]
    descriptive.loc["99%",col]=np.percentile(dataset[col],99)
    descriptive.loc["Q4:100",col]=dataset.describe()[col]["max"]
    descriptive.loc["IQR",col]=descriptive.loc["Q3:75",col]-descriptive.loc["Q1:25",col]
    descriptive.loc["1.5rule",col]=1.5*descriptive.loc["IQR",col]
    descriptive.loc["Lesser",col]=descriptive.loc["Q1:25",col]-descriptive.loc["1.5rule",col]
    descriptive.loc["Greater",col]=descriptive.loc["Q3:75",col]+descriptive.loc["1.5rule",col]
    descriptive.loc["Min",col]=dataset[col].min()
    descriptive.loc["Max",col]=dataset[col].max()

In [20]:
descriptive

,cement,slag,flyash,water,superplasticizer,coarseaggregate,fineaggregate,age
Mean,281.167864,73.891893,54.18835,181.543252,6.159029,972.918932,773.439587,38.070388
Median,272.9,22.0,0.0,185.0,6.4,968.0,779.5,28.0
Mode,362.6,0.0,0.0,192.0,0.0,932.0,594.0,28.0
Q1:25,192.375,0.0,0.0,164.9,0.0,932.0,730.95,7.0
Q2:50,272.9,22.0,0.0,185.0,6.4,968.0,779.5,28.0
Q3:75,350.0,142.95,118.3,192.0,10.2,1029.4,824.0,56.0
99%,531.3,290.2,185.213,228.0,23.4,1125.0,943.1,129.5
Q4:100,540.0,357.375,200.1,232.65,25.5,1145.0,963.575,129.5
IQR,157.625,142.95,118.3,27.1,10.2,97.4,93.05,49.0
1.5rule,236.4375,214.425,177.45,40.65,15.3,146.1,139.575,73.5
Lesser,-44.0625,-214.425,-177.45,124.25,-15.3,785.9,591.375,-66.5
Greater,586.4375,357.375,295.75,232.65,25.5,1175.5,963.575,129.5
Min,102.0,0.0,0.0,124.25,0.0,801.0,594.0,1.0
Max,540.0,357.375,200.1,232.65,25.5,1145.0,963.575,129.5

In [21]:
def Routlier(Lesser,Greater):
    Lesser=[]
    Greater=[]
    for col in Xcol:
        if(descriptive[col]["Min"]<descriptive[col]["Lesser"]):
            Lesser.append(col)
        if(descriptive[col]["Max"]>descriptive[col]["Greater"]):
            Greater.append(col)
    return Lesser,Greater

In [22]:
Routlier(Lesser,Greater)

([], [])

# Frequency, Relative Frequence, Cumulative Frequency

In [23]:
def freqTable(col,dataset):
    freqTable=pd.DataFrame(columns=["Unique_Values","Frequency", "Relative_Frequency", "Cumsum"])
    freqTable["Unique_Values"]=dataset[col].value_counts().index
    freqTable["Frequency"]=dataset[col].value_counts().values
    freqTable["Relative_Frequency"]=(freqTable["Frequency"]/103)
    freqTable["Cumsum"]=freqTable["Relative_Frequency"].cumsum()
    return freqTable

In [24]:
freqTable("slag",dataset)

     Unique_Values  Frequency  Relative_Frequency     Cumsum
0              0.0        471            4.572816   4.572816
1            189.0         30            0.291262   4.864078
2            106.3         20            0.194175   5.058252
3             24.0         14            0.135922   5.194175
4             20.0         12            0.116505   5.310680
..             ...        ...                 ...        ...
180          112.0          1            0.009709   9.961165
181           17.6          1            0.009709   9.970874
182          237.0          1            0.009709   9.980583
183          120.0          1            0.009709   9.990291
184          100.5          1            0.009709  10.000000

[185 rows x 4 columns]

# HSK and STD and Variance

In [25]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25","Q2:50","Q3:75","99%","Q4:100","IQR","1.5rule","Lesser","Greater","Min","Max"],
                         columns=Xcol)
for col in Xcol:
    col_desc = dataset[col].describe()
    mode_val = dataset[col].mode()
    descriptive.loc["Mean",col]=dataset[col].mean()
    descriptive.loc["Median",col]=dataset[col].median()
    descriptive.loc["Mode",col]=dataset[col].mode()[0] if not mode_val.empty else np.nan
    descriptive.loc["Q1:25",col]=dataset.describe()[col]["25%"]
    descriptive.loc["Q2:50",col]=dataset.describe()[col]["50%"]
    descriptive.loc["Q3:75",col]=dataset.describe()[col]["75%"]
    descriptive.loc["99%",col]=np.percentile(dataset[col],99)
    descriptive.loc["Q4:100",col]=dataset.describe()[col]["max"]
    descriptive.loc["IQR",col]=descriptive.loc["Q3:75",col]-descriptive.loc["Q1:25",col]
    descriptive.loc["1.5rule",col]=1.5*descriptive.loc["IQR",col]
    descriptive.loc["Lesser",col]=descriptive.loc["Q1:25",col]-descriptive.loc["1.5rule",col]
    descriptive.loc["Greater",col]=descriptive.loc["Q3:75",col]+descriptive.loc["1.5rule",col]
    descriptive.loc["Min",col]=dataset[col].min()
    descriptive.loc["Max",col]=dataset[col].max()
    descriptive.loc["kurtosis",col]=dataset[col].kurtosis()
    descriptive.loc["skew",col]=dataset[col].skew()
    descriptive.loc["Var",col]=dataset[col].var()
    descriptive.loc["Std",col]=dataset[col].std()

In [26]:
descriptive

,cement,slag,flyash,water,superplasticizer,coarseaggregate,fineaggregate,age
Mean,281.167864,73.891893,54.18835,181.543252,6.159029,972.918932,773.439587,38.070388
Median,272.9,22.0,0.0,185.0,6.4,968.0,779.5,28.0
Mode,362.6,0.0,0.0,192.0,0.0,932.0,594.0,28.0
Q1:25,192.375,0.0,0.0,164.9,0.0,932.0,730.95,7.0
Q2:50,272.9,22.0,0.0,185.0,6.4,968.0,779.5,28.0
Q3:75,350.0,142.95,118.3,192.0,10.2,1029.4,824.0,56.0
99%,531.3,290.2,185.213,228.0,23.4,1125.0,943.1,129.5
Q4:100,540.0,357.375,200.1,232.65,25.5,1145.0,963.575,129.5
IQR,157.625,142.95,118.3,27.1,10.2,97.4,93.05,49.0
1.5rule,236.4375,214.425,177.45,40.65,15.3,146.1,139.575,73.5
Lesser,-44.0625,-214.425,-177.45,124.25,-15.3,785.9,591.375,-66.5
Greater,586.4375,357.375,295.75,232.65,25.5,1175.5,963.575,129.5
Min,102.0,0.0,0.0,124.25,0.0,801.0,594.0,1.0
Max,540.0,357.375,200.1,232.65,25.5,1145.0,963.575,129.5
kurtosis,-0.520652,-0.513108,-1.328746,0.017033,0.195071,-0.599016,-0.171522,0.537143
skew,0.509481,0.799724,0.537354,0.05519,0.668719,-0.04022,-0.286077,1.264208
Var,10921.58022,7441.885358,4095.616541,450.502833,33.668504,6045.677357,6370.482633,1280.370891
Std,104.506364,86.266363,63.997004,21.225052,5.802457,77.753954,79.815303,35.782271